<h1>Search a movie</h1>

<form action="/movies" method="post">
    Enter a search word:
    <input type="text" placeholder="search term" name="searchword">
    <input type="submit" value="Find">
</form>