<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= projectTitle %></h1>
  <p>Welcome to <%= title %></p>

  <a href="movies/">Movies</a>


  <form action="movies/" method="get"></form>
</body>

</html>