<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1><%= projectTitle %></h1>
    <h2> <%= msg %></h2>

    <p style="color: red;">I overlooked that JSON obj starts with 'Search' -> "forEach is not a function"</p>

    <div class="container-fluid centered">
        <% movieList["Search"].forEach((movie) => { %>
        <p class="left-aligned">
            <strong><%= movie.Title %></strong>

        </p>
        <% }) %>
    </div>


</body>

</html>